* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #d4dbe9;
    font-weight: 400;
}

.app {
    display: flex;
    /* gap: 50px; */
}

.logo {
    margin-bottom: 50px;
}

.panel {
    background-color: rgb(114, 104, 104);
    min-height: 100vh;
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    width: 45px;
    height: 45px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
    border: none;
    cursor: pointer;
}

.menu__item:hover {
    background-color: aquamarine;
}

.menu__item:hover img {
    filter: brightness(0) invert(1);
}

.menu__item_active {
    background-color: rgb(48, 194, 145);
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    width: 45px;
    height: 45px;
    border: 1px solid #cad5ff;
    border-radius: 14px;
    background: none;
    cursor: pointer;
}
.menu__add:hover {
    background-color: rgb(48, 114, 92);
}

.content {
    min-width: 900px;
    padding: 45px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

h1 {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
    line-height: 33px;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress__name {
    font-size: 16px;
    line-height: 16px;
    color: #232360;
}

.progress__percent {
    font-size: 14px;
    line-height: 13px;
    color: black;
}

.progress__bar {
    width: 100%;
    position: relative;
    height: 6px;
    border-radius: 3px;
    background-color: #839af3;
}

.progress__cover-bar {
    position: absolute;
    border-radius: 3px;
    height: 6px;
    background-color: #232360;
    transition: all .4s;
}

main {
    margin-top: 30px;
}

.habit {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.habit__day {
    background-color: #7c7ceb;
    border-radius: 10px 0 0 10px;
    border-right: 2px solid black;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 30px;
    min-width: 150px;
}

.habit__coment {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 30px;
}

.habit__delete {
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.habit__delete:hover {
    background-color: #Efe2ff;
}

input {
    background: #fff;
    border: 1px solid #e7ebfb;
    border-radius: 9px;
    padding: 8px 20px;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
}

input::placeholder {
    color: #000;
}

input.error { 
    border: 1px solid red;
}

.habit__form {
    position: relative;
    display: flex;
    gap: 14px;
    width: 100%;
    padding: 0px 10px 0px 25px;
}   

.input_icon {
    padding-left: 45px;
}

.input__icon {
    position: absolute;
    top: 7px;
    left: 40px;
}

.button {
    background: #edecfe;
    border-radius: 9px;
    border: none;
    font-size: 13px;
    line-height: 14px;
    color: #5051f9;
    padding: 14px 30px;
    cursor: pointer;
}
.button:hover {
    background-color: #3636e2;
}

.cover {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .25);
}

.cover_hidden {
    display: none;
}

.popup {
    background: #fff;
    box-shadow: 0px 8px 14px 12px rgba(56,56,56,0.25);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img_close {
    max-width: 25px;
    max-height: 25px;
}
.popup__close {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all .4s;
}
.popup__close:hover {
    transform: scale(1.1);
} 

h2 {
    font-weight: 400;
    font-size: 24px;
    list-style: 27px;
}

.icon-label {
    font-size: 14px;
    line-height: 16px;
    color: #768396;
}

.icon-select {
    display: flex;
    gap: 25px;   
}
.icon {
    border: 1px solid #5051f9;
    border-radius: 14px;
    background: white;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.icon:hover {
    background: #5effff;
}

.icon:hover img {
    filter: brightness(0) invert(1);
}

.icon_active {
    background: #5effff;
}

.icon_active img {
    filter: brightness(0) invert(1);
}

.popup__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.popup__form input {
    width: 100%;
}